body{
    margin:0;
    padding: 0;
    width: 100%;
    background: url("pc.jpg")no-repeat;
    background-size: cover;
}
.login{
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding:100px 70px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateX(-50%) translateY(-50%);
}
h1{
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 40px;
}
input[type=text],input[type=password]{
    display: block;
    width:250px;
    height: 35px;
    font-family: sans-serif;
    color: black;
    font-size: 15px;
    text-align: center;
    border: 1px solid #339e69;
    border-radius: 30px;
    outline: none;
    margin-bottom: 15px;
    
}
input[type=button]{
    width: 120px;
    height: 35px;
    text-align: center;
    color: #fff;
    background-color:#339e69; 
    margin:0 25%;
    border: 1px solid #339e69;
    border-radius: 30px;
    outline: none;
    
}
input[type=button]:hover{
    cursor: pointer;
    background-color:#2ecc71;
    transition: 0.5s;
}
.icon{
    position: absolute;
   padding-top: 11px;
    padding-left: 18px;
    color: #339e69;
}
